*{
    padding: 0%;
    margin: 0%;
}

/* .usestate{ */
  /* display: none; */
/* } */

/* #state:hover .usestate{ */
  /* display: block; */
/* } */

body{
    background-color: indigo !important;
}

form{
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: rgb(0, 0, 0, 0.1);
    width: 450px !important;
}

input{
    border: none;
    outline: none;
    box-shadow: none;
    /* background-color: rgb(0, 0, 0, 0.8) !important; */
    border-bottom: 1px solid gray;
    /* border-bottom: 2px; */
}

